# /etc/cloud/cloud.cfg.d/99-vmware.cfg
#cloud-config
datasource:
  VMware:
    # Allow “raw” meta-data/user-data from vSphere customization specs
    allow_raw_data: true
    # Optional: increase wait time for customization files
    vmware_cust_file_max_wait: 120